.heading {
    margin: 3rem;
}
.heading > h1 {
    font-size: 3rem;
    margin: 0;
    margin-top: 0.5rem;
}
.heading > h1 > span {
    color: blue;
}
p {
    font-size: 1.5rem;
}
.section-2 > .container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.section-2 > .container > .item-div {
    /* border: 1px solid gray; */
    box-shadow: 1px 1px 3px black;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 250px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
